<a href="https://colab.research.google.com/github/simoneperazzoli/IGTI_MLAnalystBootcamp/blob/master/modulo_1/challenge_module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#importando as bibliotecas
import pandas as pd #biblioteca utilizada para o tratamento de dados via dataframes 
import numpy as np #biblioteca utilizada para o tratamento de valores numéricos (vetores e matrizes)
import matplotlib.pyplot as plt #biblioteca utilizada para construir os gráficos

In [12]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving comp_bikes_mod.csv to comp_bikes_mod (1).csv

In [36]:
#realizando a leitura do arquivo (dataset)
nome_do_arquivo="comp_bikes_mod.csv"
challenge = pd.read_csv(nome_do_arquivo)

In [37]:
challenge.head()

   instant      dteday  season   yr  ...  windspeed  casual  registered   cnt
0      1.0         NaN     1.0  0.0  ...        0.0     3.0        13.0  16.0
1      2.0  2011-01-01     1.0  0.0  ...        0.0     8.0        32.0  40.0
2      3.0  2011-01-01     1.0  0.0  ...        0.0     5.0        27.0  32.0
3      4.0  2011-01-01     1.0  0.0  ...        0.0     3.0        10.0  13.0
4      5.0  2011-01-01     1.0  0.0  ...        0.0     0.0         1.0   1.0

[5 rows x 17 columns]

In [38]:
# 1 - No dataset utilizado para o desafio, quantas instâncias e atributos existem, respectivamente?
challenge.shape

(17379, 17)

In [39]:
challenge.info() #verificando os tipos de variáveis e se existem ou não valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     15641 non-null  float64
 1   dteday      15641 non-null  object
 2   season      15641 non-null  float64
 3   yr          15641 non-null  float64
 4   mnth        15641 non-null  float64
 5   hr          15641 non-null  float64
 6   holiday     15641 non-null  float64
 7   weekday     15641 non-null  float64
 8   workingday  15641 non-null  float64
 9   weathersit  15641 non-null  float64
 10  temp        15641 non-null  float64
 11  atemp       15641 non-null  float64
 12  hum         15641 non-null  float64
 13  windspeed   15641 non-null  float64
 14  casual      15641 non-null  float64
 15  registered  15641 non-null  float64
 16  cnt         15641 non-null  float64
dtypes: float64(16), object(1)
memory usage: 2.3+ MB

In [40]:
# 2 - Quantos tipos diferentes de dados existem no dataset do desafio?
challenge.dtypes

instant       float64
dteday         object
season        float64
yr            float64
mnth          float64
hr            float64
holiday       float64
weekday       float64
workingday    float64
weathersit    float64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual        float64
registered    float64
cnt           float64
dtype: object

In [41]:
# 3 - Qual é a proporção (em %) de valores nulos existente na coluna "temp" (temperatura ambiente normalizada)?
(challenge['temp'].isnull().sum()/ len(challenge['temp']))*100

10.000575407100524

In [48]:
# 4 - Após retirar as linhas que contém valores nulos para a coluna "dteday", passamos a contar com quantas instancias e atributos, respectivamente?
challenge_drop = challenge.dropna(subset = ['dteday'])
challenge_drop.shape

(15641, 17)

In [52]:
# 5 - Considere o dataset após a retirada das linhas que continham valores nulos para a coluna "dteday". Qual é o valor médio para os dados da coluna "temp" (temperatura ambiente normalizada)?
challenge_drop['temp'].mean()

0.4969259206597582

In [53]:
# 6 - Considere o dataset após a retirada das linhas que continham valores nulos para a coluna "dteday". Qual é o desvio padrão para os dados da coluna "windspeed" (velocidade do vento normalizada)?
challenge_drop['temp'].std()

0.19297094907969137

In [54]:
# 7 - Considere o dataset após a retirada das linhas que continham valores nulos para a coluna "dteday". 
# Transforme a coluna "season" em valores categóricos. Quantas categorias diferentes existem?
challenge_drop['season'].value_counts()

3.0    3623
2.0    3523
4.0    3478
1.0    3437
Name: season, dtype: int64

In [ ]:
# 8 - Considere o dataset após a retirada das linhas que continham valores nulos para a coluna "dteday". 
#Transforme a coluna "dteday" no tipo "datetime". Qual é a última data presente no dataset ( YYYY-MM-DD)?

In [ ]:
# 9 - Considere o dataset após a retirada das linhas que continham valores nulos para a coluna "dteday". 
# Considerendo o boxplot da variável "windspeed" (velocidade do vento) é CORRETO afirmar?

#Existem possíveis outliers, pois não existem marcações (pontos) foras dos limites do boxplot.
#Existem possíveis outliers, pois existem marcações (pontos) foras dos limites do boxplot.
#Não existem possíveis outliers, pois existem marcações (pontos) foras dos limites do boxplot.
#Não existem possíveis outliers, pois não existem marcações (pontos) foras dos limites do boxplot.

In [ ]:
# 10 - Considere o dataset após a retirada das linhas que continham valores nulos para a coluna "dteday". 
# Selecione as colunas "season", "temp", "atemp", "hum", "windspeed". Plot a matriz de correlação. Sobre as variáveis "hum" e "cnt" é CORRETO afirmar:

#Possuem alta correlação linear positiva.
#Possuem baixa correlação linear negativa.
#Possuem alta correlação linear negativa.
#Possuem baixa correlação linear positiva.

In [ ]:
# 11 - Preencha os valores nulos das colunas "hum","cnt" e "casual" com os valores médios. Utilize as variáveis "hum" e "casual" como independentes e a "cnt" como dependente. 
# Aplique uma regressão linear. Qual o valor de R2? Utilize as entradas como teste.

In [ ]:
# 12 - Utilize os mesmos dados da questão anterior ("hum" e "casual" como variáveis independentes e "cnt" como variavel dependente). 
# Aplique a árvore de decisão como regressão. Qual é o valor aproximado de R2? Utilize as entradas como teste e valores "default".

In [ ]:
# 13 - Comparando os valores de R2 encontrado com a regressão linear e com a árvore de decisão, é CORRETO afirmar:

#O valor encontrado pela árvore de decisão foi negativo.
#O valor obtido pela árvore de decisão como regressor apresenta maior R2
#Os valores encontrados pela árvore de decisão como regressor e a regressão linear são próximos.
#O valor encontrado pela regressão linear é superior ao encontrado pela árvore de decisão.

In [ ]:
# 14 - Comparando o SVM com a árvore de decisão é CORRETO afirmar:

#Árvore de decisão encontra os hiperplanos de separação do mesmo modo que o SVM.
#SVM e Árvore de Decisão só podem ser utilizados para modelos de classificação.
#Através da Árvore de Decisão não é possível encontrar os limiares de separação entre as classes.
#SVM encontra o hiperplano que gera a maior separação entre os dados.

In [ ]:
# 15 - Com base na árvore de decisão é CORRETO afirmar:

#Não é possível encontrar os limites de separação entre os conjuntos de dados a partir de uma classificação realizada através da árvore de decisão.
#Pode ser utilizada para classificação e regressão.
#Ávore de Decisão é utilizada apenas para a classificação de dados contínuos.
#A análise de regressão com a árvore de decisão só pode ser realizada com valores categóricos.